.color-box {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-bottom: -3.5px;
}



.color-box:hover .copy-button {
    opacity: 1;
    transition: .5s;
}

.box-content {
    position: absolute;
    width: 100%;
    left: 0rem;
    bottom: 0rem;
    padding: .5rem;
    color: #000;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.single-color-palette .color-box {
    height: 50%;
}

.color-box.go-back {
    background-color: #000;
}

.copy-button, 
.back-button {
    width: 5rem;
    height: 2rem;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -2.4rem;
    margin-top: -1.5rem;
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.copy-button {
    opacity: 0;

}

.see-more {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    border: none;
    right: 0rem;
    bottom: 0rem;
    color: #fff;
    width: 5rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    text-transform: uppercase;
}

.copy-overlay {
    opacity: 0;
    z-index: 0;
    height: 100%;
    width: 100%;

    transition: transform 0.6s ease-in-out;
}

.copy-overlay.show {
    opacity: 1;
    z-index: 10;
    transform: scale(50);
    position: absolute;
}

.copy-msg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    transform: scale(0.1);
    opacity: 0;
    color: #fff;
    text-align: center;
}

.copy-msg.show {
    opacity: 1;
    transform: scale(1);
    z-index: 11;
    transition: all .4s ease-in-out;

}

.copy-msg h1 {
    font-weight: 400;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-bottom: 0;
    padding: 1rem;
    text-transform: uppercase;
}

.copy-msg p {
    font-weight: 100;
    font-size: 2rem;
}